/* DONT COPY */

@font-face {
    font-family: Koulen-Regular;
    src: url(../fonts/Koulen/Koulen/Koulen-Regular.ttf);
}

@font-face {
    font-family: Krub-Regular;
    src: url(../fonts/Koulen/Krub/Krub-Regular.ttf);
}

@font-face {
    font-family: Krub-Bold;
    src: url(../fonts/Koulen/Krub/Krub-Bold.ttf);
}

/* End of DONT COPY */

.brandonBody {
    background-color: #2B2C28;
}

.brandonDesktopHero{
    background-image: url(../assets/desktopheader.png);
    height: 1022px;
    object-fit: cover;
    background-position: 50% 96%;
}

.brandonLogoBox {
    background-color: rgba(255, 255, 255, 0.4);
    height: 173px;
    border-radius: 15px;
    margin-top: 300px;
}

.brandonNavBox {
    background-color: rgba(255, 255, 255, 0.4);
    height: 98px;
    width: 629px;
    border-radius: 15px;
    margin-top: 72px;
}

.brandonNavText  a {
    color: white;
    font-family: Koulen-Regular;
    font-size: 40px;
    text-decoration: none;
}

.brandonOrderOnline {
    background-color: #EA5329;
    height: 98px;
    border-radius: 15px;
    padding-top: 18px;
}

.brandonAboutUsBG {
    height: 911px;
}

.brandonNav {
    background-color: rgb(238, 215, 197, 0.8);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.brandonAboutUsTitle {
    font-family: Koulen-Regular;
    color: #BDA344;
    font-size: 55px;
}

.brandonAboutUs {
    font-family: Krub-Regular;
    color: white;
    font-size: 25px;
}  

.brandonNavOrder {
    width: 291px;
    height: 83px;
    background-color: #EA5329;
}