/* Fonts */
@font-face {
    font-family: Koulen-Regular;
    src: url(../fonts/Koulen/Koulen/Koulen-Regular.ttf);
};

@font-face {
    font-family: Krub-Regular;
    src: url(../fonts/Koulen/Krub/Krub-Regular.ttf);
};

@font-face {
    font-family: Krub-Bold;
    src: url(../fonts/Koulen/Krub/Krub-Bold.ttf);
};

/* End of Fonts */

.TylerHeroGallery{
    background-image: url();
}